.loginCard{
    width: 100%;
    

    padding:30px;
}

.loginCard * {
    margin:20px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.error{
 margin-top: 600px;
}