<div class="container h-100">
    <div class="row justify-content-center align-self-center" style="height: 100vh;">
        <div class="col-12" style="display:grid; place-items:center">
            
                <div class="card center loginCard vertical-center">
                    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{mensaje}}
                    </div>
                    <h1 style="text-align: center; margin-bottom: 30px;">Zyroku</h1>
                    <input [(ngModel)]="email" placeholder="Email">
                    <input [(ngModel)]="password" placeholder="Contraseña">
                    <input [(ngModel)]="password" placeholder="Repetir Contraseña">
                    <button class="btn btn-lg btn-success" [disabled]="clicked" (click)="loguear(); clicked = true;" style="margin-top:30px">Crear Cuenta</button>
                    <p style="margin-top:30px">¿Ya tenes cuenta?
                    <a routerLink="/loguear" style="margin:0">Inicia Sesion</a></p>
                </div>
            
        </div>
    </div>
</div>