<div class="container">
    <div class="row desktop">
        <div class="col">
            <div class="header">
                <div class="container">
                    <a routerLink="" class="iconSeleccionado">Inicio</a>
                    <a routerLink="stats" >Estadisticas</a>
                    <a routerLink="view" >Reproductor</a>
                    
                    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                        <a *ngIf="usuario" id="dropdownManual" ngbDropdownAnchor (click)="myDrop.open()">{{usuario}}</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownManual">
                          <button ngbDropdownItem>Mi cuenta</button>
                          <button ngbDropdownItem>Configuración</button>
                          <button ngbDropdownItem (click)="cerrarSesion()">Cerrar Sesion</button>
                        </div>
                      </div>
                    <a *ngIf="!usuario" routerLink="loguear" >Loguear</a>
                </div>
            </div>
        </div>
    </div>
</div>