
<div class="container-fluid" (window:resize)="onResize()">
    <div class="row">
        <div id="colVideo" class="col-md-8 col-12" style="padding:0; height: 390px;">
            <video *ngIf="clase['url']" id="video" controls (load)="onResize()">
                <source [src]="clase['url']" (load)="onResize()" type="video/mp4">
            </video>
        </div>
        <div class="mt-70"></div>
        <div class="col-md-4 col-12 menuVideoDiv">
           
         
            <div class="card menuVideo">
                <h2>{{clase["titulo"]}}</h2>
                {{clase["modulo"]}}
                <a *ngIf="clase['claseAnterior']" routerLink="['/view',{{clase['claseAnterior']}}]">Clase Anterior</a>
                <a *ngIf="clase['claseSiguiente']" [routerLink]="['/view',clase['claseSiguiente']]">Clase Siguiente</a>
            </div>
            <app-card-misiones></app-card-misiones>

      
        </div>
    </div>
</div>
