
<div class="container-fluid" (window:resize)="onResize()">
    <div class="row">
        <div id="colVideo" class="col-md-8 col-12" style="padding:0; height: 390px;">
            <video id="video" controls (load)="onResize()">
                <source src="assets/img/sample.mp4" (load)="onResize()" type="video/mp4">
            </video>
        </div>
        <div class="mt-70"></div>
        <div class="col-md-4 col-12 menuVideoDiv">
           
         
            <div class="card menuVideo">
                <h2>Titulos</h2>
                djsdhasd dashuadshukasd
                dsahjdsaads dashuhksdasd
            </div>
            <app-card-misiones></app-card-misiones>

      
        </div>
    </div>
</div>
