<div class="container">
<div class="mt-70 desktop"></div>
<div class="row main">
    <div class="col-sm-12 col-md-7">
        <a href="https://medium.com/@ger86/novedades-de-php-7-3-9f603f4885e0" >
            <div class="card" style="margin-top: 30px; padding:15px;">
                <img class="card-img-top" src="assets/img/1*iWS1FXC2s98r37HTQRayFw.png" alt="Card image cap" style="border-radius:5px; max-height: 200px; width: auto;  display: block; object-fit: cover; height: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Novedades de PHP 7.3</h5>
                    <p class="card-text">Hoy mientras comía me he visto esta charla de Rasmus Lerdorf (el creador de
                        PHP)…</p>
                    
                        <blockquote class="blockquote mb-0">
                            <footer class="blockquote-footer">Keith Adams <cite title="Source Title">Oct 12, 2016</cite></footer>
                          </blockquote>
                    
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </a>

       <app-card-inicio></app-card-inicio>
        <a href="https://medium.com/@ger86/novedades-de-php-7-3-9f603f4885e0" >
            <div class="card" style="margin-top: 30px;">
                <div class="card-body" style="padding: 1rem !important">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/img/1*iWS1FXC2s98r37HTQRayFw.png" alt="Card image cap" style="border-radius:5px; max-height: 200px; width: 100%;  display: block; object-fit: cover; height: 100%;">
                        </div>
                        <div class="col" style="padding: 5px;">
                            <h5 class="card-title">Novedades de PHP 7.3</h5>
                            <p class="card-text">Hoy mientras comía me he visto esta charla de Rasmus Lerdorf (el creador de
                                PHP)…</p>
                            
                                <blockquote class="blockquote mb-0">
                                    <footer class="blockquote-footer">Keith Adams <cite title="Source Title">Oct 12, 2016</cite></footer>
                                </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-5 desktop">
        <div class="card cardDerecha">
            <h4 class="center" style="color: #3ea983; font-weight: 300;">Misiones</h4>
            <img src="assets/img/graph.png" alt="" style="object-fit: cover; width:100%">
        </div>
        <div class="card cardDerecha">
            <h4 class="center" style="color: #3ea983; font-weight: 300;">Tus Estadisticas</h4>
            <img src="assets/img/graph.png" alt="" style="object-fit: cover; width:100%">
        </div>
        <div class="card cardDerecha">
            <h4 class="center" style="color: #3ea983; font-weight: 300;">Liga</h4>
            <img src="assets/img/graph.png" alt="" style="object-fit: cover; width:100%">
        </div>
        <div class="card cardDerecha">
            <h4 class="center" style="color: #3ea983; font-weight: 300;">Tus Estadisticas</h4>
            <img src="assets/img/graph.png" alt="" style="object-fit: cover; width:100%">
        </div>
        <div class="card cardDerecha">
            <h4 class="center" style="color: #3ea983; font-weight: 300;">Tus Estadisticas</h4>
            <img src="assets/img/graph.png" alt="" style="object-fit: cover; width:100%">
        </div>

        <div class="card cardDerecha">
            <h4 class="center" style="color: #3ea983; font-weight: 300;">Tus Estadisticas</h4>
            <img src="assets/img/graph.png" alt="" style="object-fit: cover; width:100%">
        </div>
    </div>
</div>
<div class="mt-70 mobile"></div>
</div>