/***
Main CSS para el proyecto

Indice


***/



/*
Reglas responsivas
*/

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 767px) {
  .mobile {
    /*Mobile incluye tablet*/
    display: none;
  }
}

/*
Menu
*/
.menuMobile{
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    border-top: 2px solid #e5e5e5;
    z-index:900;
}

.menuMobile a {
    float: left;
    display: block;
    color: #afa7a7;
    
    width:25%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 6vh;
}

.icon{
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    content: attr(data-av_icon);
    speak: none;
    font-size: 40px;
    margin: auto;
}

.iconSeleccionado{
    color: #3ea983 !important;
}



.fuente {
  font-family: "Open Sans", sans-serif;
}

.menu {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  list-style-type: none;
}

.menu li {
  margin-top: 40px;
}
