* {
    margin:0;
    padding:0;
}

/* *** MENU *** */
#menuDerecho{
    height: 90vh;
    padding: 20px;
    margin: 20px;
}

/* ** LISTA ** */

#lista{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

#lista li{
    display: inline-block;
    text-align: center;
    line-height: 3em;
    width: 20%;             /* depende de cuantos elementos hay en esta mierda */
}

#lista li.progtrckr-done {
    color: black;
    border-bottom: 6px solid yellowgreen;
}

#lista li.progtrckr-todo {
    color: silver; 
    border-bottom: 6px solid silver;
}

#lista li:after {
    content: "\00a0\00a0";
}

/* * BEFORE */
#lista li:before {
    position: relative;
    bottom: -5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

#lista li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.8em;
    width: 2.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

#lista li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

